td.type {
    font-family: var(--font2);
    font-size: 2rem;
    color: goldenrod;
}

td.small {
    font-size: 2rem;
}

div.timestamp {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

table.trade_summary {
     box-shadow:  0 0 1rem white;
}

table.trade_summary>tbody>tr:first-of-type>td>table.body {
   box-shadow:  0 0 1rem white;
    position: relative;
    z-index: 1;
}

tr.active table.trade_summary td {
    background-image: radial-gradient(
          var(--color4) -150%,
          var(--color2) 300%
        ) !important;;
}

table.primary.trades div.secondary.nav {
    position: sticky;
    top: 14rem;
    z-index: 10;
}

table.primary.trades table.half.secondary {
    z-index: 9;
}


table.primary.trades table.half.secondary>tbody>tr {
    position: sticky;
    top: 14rem;
    z-index: 9;
}

